body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background: url("https://pub-8b49af329fae499aa563997f5d4068a4.r2.dev/generations/b503c36f-1aad-4e2c-a4ec-90c063c8691c-0.png?w=248&fit=crop&auto=format") no-repeat;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    color: white;
}

button {
    font-size: 16px;
}

div.info {
    margin: 15px 0;
}

div.info * {
    color: white;
    text-shadow: 1px 1px 0 #000000D0;
}

#icons {
    display: none;
}