.create-image-card {
    margin-bottom: 0;
    object-fit: contain;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .sc-bcXHqe {
        border: 2px solid #d9d6d669;
        background: #b5d0eb69;
    }

    .sc-bcXHqe:hover,
    .sc-bcXHqe:active,
    .sc-bcXHqe:focus {
        background-color: #8e72ff88;
    }

    .btn-delete {
        display: none;
    }
}