.pending-image-card {
    margin-bottom: 0;
    object-fit: contain;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    img {
        border: 1px solid #8673d2bf;
        border-radius: 4px;
        padding: 0px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .timer {
        position: absolute;
        color: #C8C8C8B0;
        font-size: 14px;
    }

    .btn-delete {
        // display: none;
    }
}